.App {
  margin: 10px;
  border: 20px solid rgb(255, 103, 31);
  padding: 15px;
  border-radius: 30px;
  background-color: white;
  max-width: 500px;
}
button {
  min-width: 35px;
  height: 35px;
}

li {
  padding-bottom: 20px;
}
.count {
  padding: 5;
}
.description {
  padding: 5px;
}
